.gocache/
gocache-local/
gocache-notify/
.gocache-*/
.cache/

data/
/artifacts/
frontend/node_modules/
frontend/dist/
frontend/.npm-cache/
frontend/.vite-dist-temp/
release/
exec/
!test/
!test/data/
!test/data/**

*.exe
