Repository: {{ .Repository }}
Pull Request: #{{ .IssueNumber }}
Title: {{ .Title }}
Author: {{ .Author }}
Branch: {{ .BranchName }}
Watch Rule: {{ .WatchRuleID }}
{{- if .SourceURL }}
URL: {{ .SourceURL }}
{{- end }}

## Labels
{{- if .Labels }}
{{- range .Labels }}
- {{ . }}
{{- end }}
{{- else }}
- none
{{- end }}

## Assignees
{{- if .Assignees }}
{{- range .Assignees }}
- {{ . }}
{{- end }}
{{- else }}
- none
{{- end }}

## Pull Request Body
```
{{ if .Body }}{{ .Body }}{{ else }}No body provided.{{ end }}
```

## Review Comments
{{- if .ReviewComments }}
{{- range .ReviewComments }}
- Reviewer: {{ .Author }}
  Path: {{ if .Path }}{{ .Path }}{{ else }}(general){{ end }}
  Line: {{ if .Line }}{{ .Line }}{{ else }}n/a{{ end }}
  URL: {{ .URL }}
  Comment:
  ```
  {{ .Body }}
  ```
{{- end }}
{{- else }}
- No review comments were provided.
{{- end }}

{{- if .ImplementationArtifact }}
## Existing Implementation
```
{{ .ImplementationArtifact }}
```
{{- end }}

{{- if .RerunComment }}
## Rerun Comment
```
{{ .RerunComment }}
```
{{- end }}

{{- if .PreviousFailure }}
## Previous Failure
```
{{ .PreviousFailure }}
```
{{- end }}

{{- if .PreviousTestReport }}
## Previous Test Report
```
{{ .PreviousTestReport }}
```
{{- end }}
